{%  load staticfiles %}

<!DOCTYPE html>
<html>
<head lang="en">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../../../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../../../static/css/normalize.css">
    <link rel="stylesheet" href="../../../static/css/style.css">
    <script type="text/javascript" src="../../../static/js/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="../../../static/js/html5sortable/jquery.sortable.min.js"></script>
    <script type="text/javascript" src="../../../static/js/jq.js"></script>

    <title>Get It Done!</title>
</head>
<body>
<article>
    <section id="title">
        <h1>Jenny's iPad</h1>
    </section>
    <section>
        <div>
            <h1>New To-Do's</h1>
                <form id="addtasks" method="post">
                {% csrf_token %}
                    <input id="newtask" type="text" placeholder="Enter new task" name="newtask" required>
                    <input id="datepicker" type="text" placeholder="MM/DD/YYYY" name="duedate">
                    <input type="submit" value="enter">
                </form>
        </div>
        <h1>Get It Done!</h1>
            <div id="getitdone">
                <ul class="tasklist sortable">
                    <!---new tasks go here -->
                    {%  if tasks|length == 0 %}
                        <li> Nothing to do!</li>
                    {%  endif %}

                    {%  for task in tasks %}
                        {% if not task.completed %}
                            <li draggable="true" data-task-id="{{ task.id }}" class="taskText"><span class="handle">&nbsp; : : </span><button class="delete">&times;</button>
                            <strong>{{ task.duedate }}</strong> {{ task.task }}</li>
                        {%  endif %}
                    {%  endfor %}
                </ul>
            </div>
        <h1>Got It Done!</h1>
            <div id="gotitdone">
                <ul class="completedlist sortable">
                    <!---completed tasks go here -->
                    {%  for task in tasks %}
                        {% if task.completed %}
                           <li draggable="true" data-task-id="{{ task.id }}" class="taskText"><span class="handle">&nbsp; : : </span><button class="delete">&times;</button>
                            <strong>{{ task.duedate }}</strong> {{ task.task }}</li>
                        {%  endif %}
                    {%  endfor %}
                </ul>
            </div>
    </section>
</article>
</body>
</html>